{% extends 'diary/main.html' %}

    
{% block content %}

<article class="media">
    <div class="media-content">
        <div class="content">
            <span>{{diary.date}}</span>
            <span style="float: right;"><a  href="{% url 'delete' diary.id %}">Delete</a></span><span style="float: right;">&nbsp;&nbsp;&nbsp;</span><span style="float: right;"><a  href="{% url 'edit' diary.id %}">Edit</a></span>
        </div>
    </div>
</article>
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
              {{diary.text}}
                
            </p>
        </div>
    </div>
</article>


{% endblock content %}