{% extends 'diary/main.html' %}

    
{% block content %}

<article class="media">
    <div class="media-content">
        <div class="content">
            <span>{{diary.date}}</span>
            <a style="float: right;" href="{% url 'edit' diary.id %}">Edit</a>
        </div>
    </div>
</article>
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
              {{diary.text}}
                
            </p>
        </div>
    </div>
</article>


{% endblock content %}